<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.9.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Optimization" />
		  <add namespace="System.Linq" />
		  <add namespace="System.Collections.Generic" />
        <add namespace="CheapDeal.WebApp" />
		  <add namespace="CheapDeal.WebApp.Models"/>
		  <add namespace="CheapDeal.WebApp.Areas.Adm.Models"/>
		  <add namespace ="TwitterBootstrap3"/>
		  <add namespace ="TwitterBootstrapMVC"/>
		  <add namespace="PagedList.Mvc"/>
        
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
	 
	  <add key="MoMo.Enable" value="true" />
	  <add key="MoMo.PartnerCode" value="MOMOBKUN20180529" />
	  <add key="MoMo.AccessKey" value="klm05TvNBzhg7h7j" />
	  <add key="MoMo.SecretKey" value="at67qH6mk8w5Y1nAyMoYKMWACiEi2bsa" />
	  <add key="MoMo.ReturnUrl" value="http://localhost:44341/Checkout/MomoCallback" />
	  <add key="MoMo.NotifyUrl" value="http://localhost:44341/Checkout/MomoNotify" />
	  <!-- Test Info: SĐT 0963181714, OTP 123456 -->

	  <!-- VNPay Test - Miễn phí từ https://sandbox.vnpayment.vn/ -->
	  <add key="VNPay.Enable" value="true" />
	  <add key="VNPay.TmnCode" value="DEMOV210" />
	  <add key="VNPay.HashSecret" value="RAOEXHYVSDDIIENYWSLDIIZTANXUXZFJ" />
	  <add key="VNPay.ReturnUrl" value="http://localhost:44341/Checkout/VNPayCallback" />
	  <!-- Test Card: 9704198526191432198, Name: NGUYEN VAN A, Date: 07/15, OTP: 123456 -->

	  <!-- Bank Transfer (Chuyển khoản) -->
	  <add key="BankTransfer.Enable" value="true" />
	  <add key="Bank.Name" value="Vietcombank" />
	  <add key="Bank.Branch" value="Chi nhánh Hà Nội" />
	  <add key="Bank.AccountNumber" value="1234567890" />
	  <add key="Bank.AccountName" value="CONG TY CHEAPDEAL" />
	  <add key="Bank.SwiftCode" value="BFTVVNVX" />

	  <!-- COD (Cash on Delivery) -->
	  <add key="COD.Enable" value="true" />
	  <add key="COD.Fee" value="15000" />
	  <add key="COD.MaxAmount" value="5000000" />
	  <add key="COD.Note" value="Thu tiền mặt khi giao hàng" />

	  <!-- ZaloPay Test - Liên hệ merchant@zalopay.vn để lấy test credentials -->
	  <add key="ZaloPay.Enable" value="false" />
	  <add key="ZaloPay.AppId" value="2553" />
	  <add key="ZaloPay.Key1" value="PcY4iZIKFCIdgZvA6ueMcMHHUbRLYjPL" />
	  <add key="ZaloPay.Key2" value="kLtgPl8HHhfvMuDHPwKfgfsY4Ydm9eIz" />

	  <!-- PayPal Sandbox - Miễn phí từ https://developer.paypal.com/ -->
	  <add key="PayPal.Enable" value="false" />
	  <add key="PayPal.Mode" value="sandbox" />
	  <add key="PayPal.ClientId" value="YOUR_PAYPAL_CLIENT_ID" />
	  <add key="PayPal.ClientSecret" value="YOUR_PAYPAL_CLIENT_SECRET" />
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>